<h1><%=@newWord %></h1>
<form action="/" >
<p>First Word</p>
<input name="first" value="" />
<p>Second Word</p>
<input name="second" value="" />
<input type="submit" value="Cohese" />
</form>

<marquee>Beta</marquee>
